.pokemonContainer {
  background-color: rgba(255, 255, 255, 0.763);
  width: 15rem;
  margin: 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgb(222, 205, 52);
  cursor: pointer;
  transition: all 0.9s;
  user-select: none;
  font-weight: bolder;
}


.pokemonName {
  font-size: larger;
    text-transform: capitalize;
    font-weight: bold; 
    color: black;
}

.pokemonContainer {
  font-family: 'TuTipoDeLetra', sans-serif;

}

.pokemonContainer img {
  width: 130px;
  padding: 25px 0 25px 0;
}

.pokemonContainer:hover {
  transform: scale(1.021);
  background: #a59f94;
}

.pokemonContainer:active {
  transform: scale(0.95) rotateZ(1.1deg);
}

.types {
  color: black; 
  margin-top: 8px;
  font-weight: bold;
}

.namePokemonCard {
  text-decoration: none;
} 
