.landingPage {
    background-image: url('https://images7.alphacoders.com/592/592678.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.logoPokemon {
    position: absolute; 
    width: 200px; 
    top: 20px; 
    left: 20px; 
}

.enterButton {
    background-color: #fbd203d7; 
    box-shadow: 0 0 20px rgb(226, 211, 81);
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 18px; 
    border: none;
    cursor: pointer;
    transition:0.3s ease; 
}

