.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.searchBarContainer {
  flex-grow: 1;
}

.createPokemonButton {
  color: #fff;
  position: relative;
  left: -160px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.createPokemonButton:hover {
  background-color: #2980b9;
}

.exitButton {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  left: 670px;
  top: 30px;
}